<head>
  <link rel="stylesheet" type="text/css" href="/adminHeader.css" />
</head>

<h1>Award_Admin</h1>

<header class="header">
    <nav class="nav-menu">
      <ul>
        <li><a href="/admin/book">Book</a></li>
        <li><a href="/admin/author">Author</a></li>
        <li><a href="/admin/award">Award</a></li>
        <li><a href="/admin/warehouse">Warehouse</a></li>
        <li><a href="/admin/inventory">Inventory</a></li>
        <li><a href="/admin/contains">Contains</a></li>
      </ul>
    </nav>
</header>

<table>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Year</td>
    <td>Received_by</td>
    <td>Awarded_to</td>
  </tr>
  {{#each awards}}
    <form method="post">
      <tr>
        <!-- 기존 데이터 표시 -->
        <td>{{ID}}</td>
        <td style="display: none"><input
            type="text"
            name="ID"
            value={{ID}}
          /></td>
        <td><input type="text" name="Name" value="{{Name}}" /></td>
        <td><input type="text" name="Year" value="{{Year}}" /></td>
        <td><input type="text" name="Received_by" value="{{Received_by}}" /></td>
        <td><input type="text" name="Awarded_to" value="{{Awarded_to}}" /></td>
        <!-- Update 버튼 -->
        <td><input
            type="submit"
            name="Modify"
            formaction="/admin/award/update"
            value="수정"
          /></td>
        <!-- Delete 버튼 -->
        <td><input
            type="submit"
            name="Delete"
            formaction="/admin/award/delete"
            value="삭제"
          /></td>
      </tr>
    </form>
  {{/each}}
  <!-- 새로운 데이터 입력 -->
  <form method="post">
    <tr>
      <td><input type="text" name="ID" /></td>
      <td><input type="text" name="Name" /></td>
      <td><input type="text" name="Year" /></td>
      <td><input type="text" name="Received_by" /></td>
      <td><input type="text" name="Awarded_to" /></td>
      <td><input
          type="submit"
          name="Add"
          formaction="/admin/award/add"
          value="추가"
        /></td>
    </tr>
</table>